/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/styles/global.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

* {
  scrollbar-color: initial;
  scrollbar-width: initial;
}
.password-circles {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-4 {
  left: 1rem;
}
.left-\[calc\(100\%_-_400px\)\] {
  left: calc(100% - 400px);
}
.right-0\.5 {
  right: 0.125rem;
}
.top-\[calc\(100\%_-_430px\)\] {
  top: calc(100% - 430px);
}
.z-10 {
  z-index: 10;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mb-\[34px\] {
  margin-bottom: 34px;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.ml-\[15px\] {
  margin-left: 15px;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mr-\[15px\] {
  margin-right: 15px;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mt-\[18px\] {
  margin-top: 18px;
}
.mt-\[20px\] {
  margin-top: 20px;
}
.mt-\[5vh\] {
  margin-top: 5vh;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.aspect-\[3\/4\] {
  aspect-ratio: 3/4;
}
.h-16 {
  height: 4rem;
}
.h-6 {
  height: 1.5rem;
}
.h-\[10\%\] {
  height: 10%;
}
.h-\[100px\] {
  height: 100px;
}
.h-\[140px\] {
  height: 140px;
}
.h-\[150px\] {
  height: 150px;
}
.h-\[20\%\] {
  height: 20%;
}
.h-\[200px\] {
  height: 200px;
}
.h-\[300px\] {
  height: 300px;
}
.h-\[30px\] {
  height: 30px;
}
.h-\[34px\] {
  height: 34px;
}
.h-\[35px\] {
  height: 35px;
}
.h-\[40px\] {
  height: 40px;
}
.h-\[45px\] {
  height: 45px;
}
.h-\[46px\] {
  height: 46px;
}
.h-\[48px\] {
  height: 48px;
}
.h-\[50px\] {
  height: 50px;
}
.h-\[550px\] {
  height: 550px;
}
.h-\[60px\] {
  height: 60px;
}
.h-\[64px\] {
  height: 64px;
}
.h-\[70px\] {
  height: 70px;
}
.h-\[75\%\] {
  height: 75%;
}
.h-\[75px\] {
  height: 75px;
}
.h-\[80px\] {
  height: 80px;
}
.h-\[80vh\] {
  height: 80vh;
}
.h-\[85\%\] {
  height: 85%;
}
.h-\[90\%\] {
  height: 90%;
}
.h-\[calc\(100\%_-_100px\)\] {
  height: calc(100% - 100px);
}
.h-\[calc\(100\%_-_120px\)\] {
  height: calc(100% - 120px);
}
.h-\[calc\(100\%_-_270px\)\] {
  height: calc(100% - 270px);
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.min-h-\[800px\] {
  min-height: 800px;
}
.w-1\/2 {
  width: 50%;
}
.w-10\/12 {
  width: 83.333333%;
}
.w-16 {
  width: 4rem;
}
.w-6 {
  width: 1.5rem;
}
.w-\[1400px\] {
  width: 1400px;
}
.w-\[140px\] {
  width: 140px;
}
.w-\[200px\] {
  width: 200px;
}
.w-\[250px\] {
  width: 250px;
}
.w-\[30px\] {
  width: 30px;
}
.w-\[349px\] {
  width: 349px;
}
.w-\[35px\] {
  width: 35px;
}
.w-\[40px\] {
  width: 40px;
}
.w-\[45px\] {
  width: 45px;
}
.w-\[48px\] {
  width: 48px;
}
.w-\[50\%\] {
  width: 50%;
}
.w-\[50px\] {
  width: 50px;
}
.w-\[55\%\] {
  width: 55%;
}
.w-\[556px\] {
  width: 556px;
}
.w-\[596px\] {
  width: 596px;
}
.w-\[60\%\] {
  width: 60%;
}
.w-\[60px\] {
  width: 60px;
}
.w-\[65\%\] {
  width: 65%;
}
.w-\[70px\] {
  width: 70px;
}
.w-\[75\%\] {
  width: 75%;
}
.w-\[75px\] {
  width: 75px;
}
.w-\[85\%\] {
  width: 85%;
}
.w-\[90\%\] {
  width: 90%;
}
.w-\[95\%\] {
  width: 95%;
}
.w-\[97\%\] {
  width: 97%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.min-w-\[280px\] {
  min-width: 280px;
}
.max-w-\[10rem\] {
  max-width: 10rem;
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-\[10px\] {
  gap: 10px;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-\[20px\] {
  border-radius: 20px;
}
.rounded-\[30px\] {
  border-radius: 30px;
}
.rounded-\[40px\] {
  border-radius: 40px;
}
.rounded-\[50px\] {
  border-radius: 50px;
}
.rounded-\[7px\] {
  border-radius: 7px;
}
.rounded-\[inherit\] {
  border-radius: inherit;
}
.rounded-custom-Radius {
  border-radius: 10px 20px 10px 20px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-l-\[20px\] {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.rounded-l-\[50px\] {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.rounded-r-\[20px\] {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.rounded-r-\[50px\] {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.rounded-bl-\[18px\] {
  border-bottom-left-radius: 18px;
}
.rounded-bl-\[20px\] {
  border-bottom-left-radius: 20px;
}
.rounded-bl-\[22px\] {
  border-bottom-left-radius: 22px;
}
.rounded-br-\[10px\] {
  border-bottom-right-radius: 10px;
}
.rounded-tl-\[10px\] {
  border-top-left-radius: 10px;
}
.rounded-tl-\[13px\] {
  border-top-left-radius: 13px;
}
.rounded-tl-\[9px\] {
  border-top-left-radius: 9px;
}
.rounded-tr-\[20px\] {
  border-top-right-radius: 20px;
}
.rounded-tr-\[22px\] {
  border-top-right-radius: 22px;
}
.border {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-\[0\.5px\] {
  border-width: 0.5px;
}
.border-\[1px\] {
  border-width: 1px;
}
.border-b-\[0\.5px\] {
  border-bottom-width: 0.5px;
}
.border-b-\[1px\] {
  border-bottom-width: 1px;
}
.border-l-2 {
  border-left-width: 2px;
}
.border-r-2 {
  border-right-width: 2px;
}
.border-r-\[0\.5px\] {
  border-right-width: 0.5px;
}
.border-none {
  border-style: none;
}
.border-\[\#949DA2\] {
  --tw-border-opacity: 1;
  border-color: rgb(148 157 162 / var(--tw-border-opacity));
}
.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
}
.border-teal-300 {
  --tw-border-opacity: 1;
  border-color: rgb(94 234 212 / var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-opacity-20 {
  --tw-border-opacity: 0.2;
}
.border-opacity-30 {
  --tw-border-opacity: 0.3;
}
.border-opacity-40 {
  --tw-border-opacity: 0.4;
}
.border-opacity-60 {
  --tw-border-opacity: 0.6;
}
.bg-\[\#001F54\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 31 84 / var(--tw-bg-opacity));
}
.bg-\[\#0B4464\] {
  --tw-bg-opacity: 1;
  background-color: rgb(11 68 100 / var(--tw-bg-opacity));
}
.bg-\[\#131E24\] {
  --tw-bg-opacity: 1;
  background-color: rgb(19 30 36 / var(--tw-bg-opacity));
}
.bg-\[\#1A1F26\] {
  --tw-bg-opacity: 1;
  background-color: rgb(26 31 38 / var(--tw-bg-opacity));
}
.bg-\[\#293B45\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 59 69 / var(--tw-bg-opacity));
}
.bg-\[\#872341\] {
  --tw-bg-opacity: 1;
  background-color: rgb(135 35 65 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}
.bg-opacity-15 {
  --tw-bg-opacity: 0.15;
}
.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}
.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}
.bg-opacity-70 {
  --tw-bg-opacity: 0.7;
}
.bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bg-main-bg {
  background-image: url('/images/Main-Background.png');
}
.from-\[\#0052B4\]\/30 {
  --tw-gradient-from: rgb(0 82 180 / 0.3) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 82 180 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-\[\#1A1F26\]\/90 {
  --tw-gradient-from: rgb(26 31 38 / 0.9) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(26 31 38 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-\[\#BD0034\]\/30 {
  --tw-gradient-from: rgb(189 0 52 / 0.3) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(189 0 52 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-\[\#D90026\]\/30 {
  --tw-gradient-from: rgb(217 0 38 / 0.3) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(217 0 38 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-\[\#FCC305\]\/30 {
  --tw-gradient-from: rgb(252 195 5 / 0.3) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(252 195 5 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.to-\[\#000\]\/70 {
  --tw-gradient-to: rgb(0 0 0 / 0.7) var(--tw-gradient-to-position);
}
.to-\[\#1A237B\]\/30 {
  --tw-gradient-to: rgb(26 35 123 / 0.3) var(--tw-gradient-to-position);
}
.to-\[\#6DA443\]\/30 {
  --tw-gradient-to: rgb(109 164 67 / 0.3) var(--tw-gradient-to-position);
}
.to-\[\#D2011D\]\/30 {
  --tw-gradient-to: rgb(210 1 29 / 0.3) var(--tw-gradient-to-position);
}
.to-\[\#D70027\]\/30 {
  --tw-gradient-to: rgb(215 0 39 / 0.3) var(--tw-gradient-to-position);
}
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.fill-white {
  fill: #fff;
}
.p-4 {
  padding: 1rem;
}
.p-\[10px\] {
  padding: 10px;
}
.p-\[20px\] {
  padding: 20px;
}
.p-\[5px\] {
  padding: 5px;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pl-12 {
  padding-left: 3rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-\[0\.9rem\] {
  font-size: 0.9rem;
}
.text-\[19px\] {
  font-size: 19px;
}
.text-\[1rem\] {
  font-size: 1rem;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.-tracking-tight {
  letter-spacing: 0.025em;
}
.text-\[\#4682B4\] {
  --tw-text-opacity: 1;
  color: rgb(70 130 180 / var(--tw-text-opacity));
}
.text-\[\#949DA2\] {
  --tw-text-opacity: 1;
  color: rgb(148 157 162 / var(--tw-text-opacity));
}
.text-\[\#FF0000\] {
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-opacity-100 {
  --tw-text-opacity: 1;
}
.text-opacity-50 {
  --tw-text-opacity: 0.5;
}
.text-opacity-60 {
  --tw-text-opacity: 0.6;
}
.text-opacity-65 {
  --tw-text-opacity: 0.65;
}
.text-opacity-90 {
  --tw-text-opacity: 0.9;
}
.underline {
  text-decoration-line: underline;
}
.underline-offset-4 {
  text-underline-offset: 4px;
}
.underline-offset-8 {
  text-underline-offset: 8px;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-70 {
  opacity: 0.7;
}
.shadow-\[0_0_12px_\#fff\] {
  --tw-shadow: 0 0 12px #fff;
  --tw-shadow-colored: 0 0 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
        display: none;
    }
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }

* {
    font-family: "Share Tech", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:bg-\[\#1E2E36\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 46 54 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:bg-opacity-10:hover {
  --tw-bg-opacity: 0.1;
}

.hover\:bg-opacity-20:hover {
  --tw-bg-opacity: 0.2;
}

.hover\:text-opacity-100:hover {
  --tw-text-opacity: 1;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 640px) {

  .sm\:h-\[40px\] {
    height: 40px;
  }

  .sm\:h-\[50px\] {
    height: 50px;
  }

  .sm\:h-\[55px\] {
    height: 55px;
  }

  .sm\:h-\[90\%\] {
    height: 90%;
  }

  .sm\:h-full {
    height: 100%;
  }

  .sm\:w-\[100px\] {
    width: 100px;
  }

  .sm\:w-\[330px\] {
    width: 330px;
  }

  .sm\:w-\[400px\] {
    width: 400px;
  }

  .sm\:w-\[40px\] {
    width: 40px;
  }

  .sm\:w-\[50px\] {
    width: 50px;
  }

  .sm\:w-\[55px\] {
    width: 55px;
  }

  .sm\:w-\[90\%\] {
    width: 90%;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:gap-\[5\%\] {
    gap: 5%;
  }

  .sm\:space-y-\[20px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(20px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(20px * var(--tw-space-y-reverse));
  }

  .sm\:rounded-\[50px\] {
    border-radius: 50px;
  }

  .sm\:border {
    border-width: 1px;
  }

  .sm\:border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
  }

  .sm\:border-opacity-30 {
    --tw-border-opacity: 0.3;
  }
}

@media (min-width: 768px) {

  .md\:w-\[350px\] {
    width: 350px;
  }

  .md\:w-\[500px\] {
    width: 500px;
  }

  .md\:space-y-\[30px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(30px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(30px * var(--tw-space-y-reverse));
  }

  .md\:rounded-\[50px\] {
    border-radius: 50px;
  }

  .md\:border {
    border-width: 1px;
  }

  .md\:border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
  }

  .md\:border-opacity-30 {
    --tw-border-opacity: 0.3;
  }

  .md\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }

  .md\:bg-opacity-20 {
    --tw-bg-opacity: 0.2;
  }
}

@media (min-width: 1024px) {

  .lg\:flex {
    display: flex;
  }

  .lg\:h-\[100px\] {
    height: 100px;
  }

  .lg\:w-\[100px\] {
    width: 100px;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[600px\] {
    width: 600px;
  }

  .lg\:w-\[calc\(100\%_-_400px\)\] {
    width: calc(100% - 400px);
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:space-y-\[60px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(60px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(60px * var(--tw-space-y-reverse));
  }
}

@media (min-width: 1280px) {

  .xl\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .xl\:h-\[100px\] {
    height: 100px;
  }

  .xl\:h-\[90\%\] {
    height: 90%;
  }

  .xl\:w-\[100px\] {
    width: 100px;
  }

  .xl\:w-\[80\%\] {
    width: 80%;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:space-x-\[60px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(60px * var(--tw-space-x-reverse));
    margin-left: calc(60px * calc(1 - var(--tw-space-x-reverse)));
  }
}

@media (min-width: 1536px) {

  .\32xl\:h-\[150px\] {
    height: 150px;
  }

  .\32xl\:h-\[50\%\] {
    height: 50%;
  }

  .\32xl\:w-\[150px\] {
    width: 150px;
  }

  .\32xl\:w-\[20\%\] {
    width: 20%;
  }

  .\32xl\:w-\[430px\] {
    width: 430px;
  }

  .\32xl\:w-\[550px\] {
    width: 550px;
  }

  .\32xl\:w-\[700px\] {
    width: 700px;
  }

  .\32xl\:w-\[calc\(100\%_-_550px\)\] {
    width: calc(100% - 550px);
  }

  .\32xl\:space-x-\[200px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(200px * var(--tw-space-x-reverse));
    margin-left: calc(200px * calc(1 - var(--tw-space-x-reverse)));
  }
}

@media (min-width: 360px) {

  .mobile\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .mobile\:h-\[25px\] {
    height: 25px;
  }

  .mobile\:h-\[30px\] {
    height: 30px;
  }

  .mobile\:h-\[48px\] {
    height: 48px;
  }

  .mobile\:h-\[50px\] {
    height: 50px;
  }

  .mobile\:h-\[680px\] {
    height: 680px;
  }

  .mobile\:h-\[700px\] {
    height: 700px;
  }

  .mobile\:w-\[200px\] {
    width: 200px;
  }

  .mobile\:w-\[25px\] {
    width: 25px;
  }

  .mobile\:w-\[30px\] {
    width: 30px;
  }

  .mobile\:w-\[500px\] {
    width: 500px;
  }

  .mobile\:w-\[90\%\] {
    width: 90%;
  }

  .mobile\:w-full {
    width: 100%;
  }

  .mobile\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .mobile\:text-\[16px\] {
    font-size: 16px;
  }
}

@media (max-width: 640px) {

  .less-than-tablet\:top-1\/2 {
    top: 50%;
  }

  .less-than-tablet\:my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .less-than-tablet\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .less-than-tablet\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .less-than-tablet\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .less-than-tablet\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .less-than-tablet\:ml-0 {
    margin-left: 0px;
  }

  .less-than-tablet\:ml-3 {
    margin-left: 0.75rem;
  }

  .less-than-tablet\:ml-4 {
    margin-left: 1rem;
  }

  .less-than-tablet\:mr-1 {
    margin-right: 0.25rem;
  }

  .less-than-tablet\:mt-10 {
    margin-top: 2.5rem;
  }

  .less-than-tablet\:mt-2 {
    margin-top: 0.5rem;
  }

  .less-than-tablet\:mt-4 {
    margin-top: 1rem;
  }

  .less-than-tablet\:mt-5 {
    margin-top: 1.25rem;
  }

  .less-than-tablet\:mt-\[10px\] {
    margin-top: 10px;
  }

  .less-than-tablet\:hidden {
    display: none;
  }

  .less-than-tablet\:h-\[10\%\] {
    height: 10%;
  }

  .less-than-tablet\:h-\[100px\] {
    height: 100px;
  }

  .less-than-tablet\:h-\[200px\] {
    height: 200px;
  }

  .less-than-tablet\:h-\[20px\] {
    height: 20px;
  }

  .less-than-tablet\:h-\[30px\] {
    height: 30px;
  }

  .less-than-tablet\:h-\[40px\] {
    height: 40px;
  }

  .less-than-tablet\:h-\[50px\] {
    height: 50px;
  }

  .less-than-tablet\:h-\[75\%\] {
    height: 75%;
  }

  .less-than-tablet\:w-\[200px\] {
    width: 200px;
  }

  .less-than-tablet\:w-\[20px\] {
    width: 20px;
  }

  .less-than-tablet\:w-\[30px\] {
    width: 30px;
  }

  .less-than-tablet\:w-\[40\%\] {
    width: 40%;
  }

  .less-than-tablet\:w-\[50px\] {
    width: 50px;
  }

  .less-than-tablet\:w-\[85\%\] {
    width: 85%;
  }

  .less-than-tablet\:w-\[90\%\] {
    width: 90%;
  }

  .less-than-tablet\:w-full {
    width: 100%;
  }

  .less-than-tablet\:flex-col {
    flex-direction: column;
  }

  .less-than-tablet\:justify-center {
    justify-content: center;
  }

  .less-than-tablet\:rounded-md {
    border-radius: 0.375rem;
  }

  .less-than-tablet\:rounded-none {
    border-radius: 0px;
  }

  .less-than-tablet\:border-0 {
    border-width: 0px;
  }

  .less-than-tablet\:border-r-0 {
    border-right-width: 0px;
  }

  .less-than-tablet\:p-2 {
    padding: 0.5rem;
  }

  .less-than-tablet\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .less-than-tablet\:pr-0 {
    padding-right: 0px;
  }

  .less-than-tablet\:pt-10 {
    padding-top: 2.5rem;
  }

  .less-than-tablet\:pt-5 {
    padding-top: 1.25rem;
  }

  .less-than-tablet\:text-\[16px\] {
    font-size: 16px;
  }

  .less-than-tablet\:text-\[18px\] {
    font-size: 18px;
  }

  .less-than-tablet\:text-\[20px\] {
    font-size: 20px;
  }

  .less-than-tablet\:text-\[22px\] {
    font-size: 22px;
  }

  .less-than-tablet\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .less-than-tablet\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .less-than-tablet\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .less-than-tablet\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .less-than-tablet\:text-opacity-100 {
    --tw-text-opacity: 1;
  }

  .less-than-tablet\:underline {
    text-decoration-line: underline;
  }
}

@media (max-width: 360px) {

  .less-than-mobile\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .less-than-mobile\:ml-2 {
    margin-left: 0.5rem;
  }

  .less-than-mobile\:ml-3 {
    margin-left: 0.75rem;
  }

  .less-than-mobile\:mr-1 {
    margin-right: 0.25rem;
  }

  .less-than-mobile\:mt-12 {
    margin-top: 3rem;
  }

  .less-than-mobile\:mt-2 {
    margin-top: 0.5rem;
  }

  .less-than-mobile\:mt-5 {
    margin-top: 1.25rem;
  }

  .less-than-mobile\:mt-\[10px\] {
    margin-top: 10px;
  }

  .less-than-mobile\:h-14 {
    height: 3.5rem;
  }

  .less-than-mobile\:h-\[20px\] {
    height: 20px;
  }

  .less-than-mobile\:h-\[40px\] {
    height: 40px;
  }

  .less-than-mobile\:h-\[680px\] {
    height: 680px;
  }

  .less-than-mobile\:h-\[720px\] {
    height: 720px;
  }

  .less-than-mobile\:h-\[80vh\] {
    height: 80vh;
  }

  .less-than-mobile\:w-14 {
    width: 3.5rem;
  }

  .less-than-mobile\:w-\[100px\] {
    width: 100px;
  }

  .less-than-mobile\:w-\[200px\] {
    width: 200px;
  }

  .less-than-mobile\:w-\[20px\] {
    width: 20px;
  }

  .less-than-mobile\:w-\[500px\] {
    width: 500px;
  }

  .less-than-mobile\:w-\[90\%\] {
    width: 90%;
  }

  .less-than-mobile\:overflow-auto {
    overflow: auto;
  }

  .less-than-mobile\:rounded-l-none {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .less-than-mobile\:p-1 {
    padding: 0.25rem;
  }

  .less-than-mobile\:text-\[11px\] {
    font-size: 11px;
  }

  .less-than-mobile\:text-\[15px\] {
    font-size: 15px;
  }

  .less-than-mobile\:text-\[16px\] {
    font-size: 16px;
  }

  .less-than-mobile\:text-\[20px\] {
    font-size: 20px;
  }

  .less-than-mobile\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .less-than-mobile\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 640px) {

  .tablet\:top-\[40\%\] {
    top: 40%;
  }

  .tablet\:my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .tablet\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .tablet\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .tablet\:mr-1 {
    margin-right: 0.25rem;
  }

  .tablet\:mt-12 {
    margin-top: 3rem;
  }

  .tablet\:mt-\[19px\] {
    margin-top: 19px;
  }

  .tablet\:h-24 {
    height: 6rem;
  }

  .tablet\:h-\[20\%\] {
    height: 20%;
  }

  .tablet\:h-\[250px\] {
    height: 250px;
  }

  .tablet\:h-\[500px\] {
    height: 500px;
  }

  .tablet\:h-\[50px\] {
    height: 50px;
  }

  .tablet\:h-\[60px\] {
    height: 60px;
  }

  .tablet\:h-\[770px\] {
    height: 770px;
  }

  .tablet\:h-\[80px\] {
    height: 80px;
  }

  .tablet\:w-24 {
    width: 6rem;
  }

  .tablet\:w-3\/4 {
    width: 75%;
  }

  .tablet\:w-\[250px\] {
    width: 250px;
  }

  .tablet\:w-\[450px\] {
    width: 450px;
  }

  .tablet\:w-\[496px\] {
    width: 496px;
  }

  .tablet\:w-\[620px\] {
    width: 620px;
  }

  .tablet\:w-\[75\%\] {
    width: 75%;
  }

  .tablet\:w-\[80\%\] {
    width: 80%;
  }

  .tablet\:w-\[90\%\] {
    width: 90%;
  }

  .tablet\:w-full {
    width: 100%;
  }

  .tablet\:flex-col {
    flex-direction: column;
  }

  .tablet\:justify-start {
    justify-content: flex-start;
  }

  .tablet\:justify-center {
    justify-content: center;
  }

  .tablet\:bg-\[\#D9D9D9\] {
    --tw-bg-opacity: 1;
    background-color: rgb(217 217 217 / var(--tw-bg-opacity));
  }

  .tablet\:bg-transparent {
    background-color: transparent;
  }

  .tablet\:bg-opacity-10 {
    --tw-bg-opacity: 0.1;
  }

  .tablet\:pt-5 {
    padding-top: 1.25rem;
  }

  .tablet\:pt-\[57px\] {
    padding-top: 57px;
  }

  .tablet\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .tablet\:text-\[16px\] {
    font-size: 16px;
  }

  .tablet\:text-\[18px\] {
    font-size: 18px;
  }

  .tablet\:text-\[20px\] {
    font-size: 20px;
  }

  .tablet\:text-\[22px\] {
    font-size: 22px;
  }

  .tablet\:text-\[25px\] {
    font-size: 25px;
  }

  .tablet\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .tablet\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .tablet\:text-opacity-100 {
    --tw-text-opacity: 1;
  }
}

@media (min-width: 1025px) {

  .laptop\:mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .laptop\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .laptop\:my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .laptop\:ml-10 {
    margin-left: 2.5rem;
  }

  .laptop\:ml-2 {
    margin-left: 0.5rem;
  }

  .laptop\:mr-2 {
    margin-right: 0.5rem;
  }

  .laptop\:mt-0 {
    margin-top: 0px;
  }

  .laptop\:h-20 {
    height: 5rem;
  }

  .laptop\:h-\[170px\] {
    height: 170px;
  }

  .laptop\:h-\[50px\] {
    height: 50px;
  }

  .laptop\:h-\[60px\] {
    height: 60px;
  }

  .laptop\:h-\[700px\] {
    height: 700px;
  }

  .laptop\:h-\[70px\] {
    height: 70px;
  }

  .laptop\:h-\[75\%\] {
    height: 75%;
  }

  .laptop\:h-\[770px\] {
    height: 770px;
  }

  .laptop\:h-\[80px\] {
    height: 80px;
  }

  .laptop\:h-\[90\%\] {
    height: 90%;
  }

  .laptop\:w-1\/2 {
    width: 50%;
  }

  .laptop\:w-20 {
    width: 5rem;
  }

  .laptop\:w-\[170px\] {
    width: 170px;
  }

  .laptop\:w-\[400px\] {
    width: 400px;
  }

  .laptop\:w-\[596px\] {
    width: 596px;
  }

  .laptop\:w-\[691px\] {
    width: 691px;
  }

  .laptop\:w-\[696px\] {
    width: 696px;
  }

  .laptop\:w-\[75\%\] {
    width: 75%;
  }

  .laptop\:w-\[80\%\] {
    width: 80%;
  }

  .laptop\:w-\[850px\] {
    width: 850px;
  }

  .laptop\:w-\[90\%\] {
    width: 90%;
  }

  .laptop\:flex-row {
    flex-direction: row;
  }

  .laptop\:justify-center {
    justify-content: center;
  }

  .laptop\:justify-evenly {
    justify-content: space-evenly;
  }

  .laptop\:border-r-\[0\.5px\] {
    border-right-width: 0.5px;
  }

  .laptop\:text-\[22px\] {
    font-size: 22px;
  }

  .laptop\:text-\[25px\] {
    font-size: 25px;
  }

  .laptop\:text-\[28px\] {
    font-size: 28px;
  }

  .laptop\:text-\[30px\] {
    font-size: 30px;
  }
}

@media (min-width: 1280px) {

  .desktop\:mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .desktop\:mb-8 {
    margin-bottom: 2rem;
  }

  .desktop\:h-32 {
    height: 8rem;
  }

  .desktop\:h-\[100px\] {
    height: 100px;
  }

  .desktop\:h-\[250px\] {
    height: 250px;
  }

  .desktop\:h-\[30px\] {
    height: 30px;
  }

  .desktop\:h-\[45px\] {
    height: 45px;
  }

  .desktop\:h-\[620px\] {
    height: 620px;
  }

  .desktop\:h-\[750px\] {
    height: 750px;
  }

  .desktop\:h-\[760px\] {
    height: 760px;
  }

  .desktop\:h-\[80px\] {
    height: 80px;
  }

  .desktop\:w-32 {
    width: 8rem;
  }

  .desktop\:w-\[1400px\] {
    width: 1400px;
  }

  .desktop\:w-\[250px\] {
    width: 250px;
  }

  .desktop\:w-\[30px\] {
    width: 30px;
  }

  .desktop\:w-\[45px\] {
    width: 45px;
  }

  .desktop\:w-\[663px\] {
    width: 663px;
  }

  .desktop\:w-\[718px\] {
    width: 718px;
  }

  .desktop\:w-\[73\%\] {
    width: 73%;
  }

  .desktop\:w-\[950px\] {
    width: 950px;
  }

  .desktop\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 400px) {

  .xs\:w-\[350px\] {
    width: 350px;
  }
}

@media (min-width: 500px) {

  .ls\:w-\[380px\] {
    width: 380px;
  }
}

@media (min-width: 900px) {

  .lm\:mt-8 {
    margin-top: 2rem;
  }

  .lm\:flex {
    display: flex;
  }

  .lm\:h-\[70px\] {
    height: 70px;
  }

  .lm\:w-\[210px\] {
    width: 210px;
  }

  .lm\:w-\[400px\] {
    width: 400px;
  }

  .lm\:w-\[70px\] {
    width: 70px;
  }

  .lm\:justify-center {
    justify-content: center;
  }

  .lm\:space-y-\[40px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(40px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(40px * var(--tw-space-y-reverse));
  }
}

@media (min-width: 1800px) {

  .\33xl\:h-\[200px\] {
    height: 200px;
  }

  .\33xl\:w-\[200px\] {
    width: 200px;
  }

  .\33xl\:w-\[530px\] {
    width: 530px;
  }

  .\33xl\:space-x-\[250px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(250px * var(--tw-space-x-reverse));
    margin-left: calc(250px * calc(1 - var(--tw-space-x-reverse)));
  }
}

@media (min-width: 2000px) {

  .\34xl\:w-\[530px\] {
    width: 530px;
  }

  .\34xl\:space-x-\[300px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(300px * var(--tw-space-x-reverse));
    margin-left: calc(300px * calc(1 - var(--tw-space-x-reverse)));
  }
}
